@charset "utf-8";
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(215,154,155,1.00) 0%,rgba(67,59,59,1.00) 84.46%,rgba(104,77,77,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(215,154,155,1.00) 0%,rgba(67,59,59,1.00) 84.46%,rgba(104,77,77,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(215,154,155,1.00) 0%,rgba(67,59,59,1.00) 84.46%,rgba(104,77,77,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(215,154,155,1.00) 0%,rgba(67,59,59,1.00) 84.46%,rgba(104,77,77,1.00) 100%);
}
.container-fluid .container .row {
    background-size: auto auto;
}
